$color-principal: #8b1e3f;
$color-hover: #6f1732;
$color-texto: #1f1f1f;
$color-secundario: #6b7280;
$color-fondo: #f8fafb;
$color-footer: #111;

$fuente-principal: 'Poppins', sans-serif;
$fuente-titulo: 'Playfair Display', serif;